* {
	box-sizing: border-box;
}
html {
	font-family: 'Varela Round', sans-serif;
}
/* header css */
header {
	background: #000;
	color: white;
	font-size: 16px;
	min-height: 56px;
}
header #nav-mobile {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}
header #nav-desktop {
	display: none;
}
header #nav-mobile .group {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 23%;
}
header .group .fa-spotify {
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: 700;
}
header .group .fa-spotify:before {
	font-size: 30px;
	font-weight: 400;
}
header .group span {
	color: white;
	font-size: 10px;
}
header .group img {
	border-radius: 50%;
	scale: 0.7;
}

header #nav-mobile .group i.fa.fa-bars {
	font-size: 25px;
}
/* end of header css */
/* section blue */
#sct-blue {
	align-items: flex-start;
	color: white;
	background: #1d75de;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.2;
	min-height: 480px;
	padding-left: 5%;
}
#sct-blue h1 {
	font-size: 28px;
	font-weight: 900;
}
#sct-blue h2 {
	font-size: 18px;
	margin-top: 30px;
}
#sct-blue .btns {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
	min-height: 114px;
	width: 100%;
}
#sct-blue .btns button {
	border-radius: 25px;
	display: block;
	min-height: 52px;
	width: 90%;
}
#sct-blue .btns button:nth-child(1) {
	border: 2px solid #191414;
	background: #191414;
	color: white;
	margin-top: 50px;
	margin-bottom: 25px;
}
#sct-blue .btns button:nth-child(2) {
	border: 2px solid white;
	background: #1d75de;
	color: white;
}
#sct-blue a {
	color: white;
	font-size: 12px;
}
/* end of section blue */
/* start of why section */

#sct-why {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-height: 650px;
	padding: 40px 0;
}
#sct-why h2 {
	align-self: center;
	font-size: 28px;
	font-weight: 900;
}
#sct-why .icon-row {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#sct-why .icon-row .box {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 142px;
	padding-bottom: 10px;
}
#sct-why .icon-row .box:last-child img {
	width: 150px;
	height: 150px;
}
#sct-why .icon-row .box img {
	width: 142px;
	height: 142px;
	scale: 0.8;
}
#sct-why .icon-row .box .sub-titles {
	padding-left: 15px;
}
#sct-why .icon-row .box h3 {
	font-size: 21px;
	font-weight: 800;
	padding-bottom: 20px;
}
#sct-why .icon-row .box span {
	font-size: 16px;
}

/* end of why section */
/* premium sct options*/
#sct-premium {
	align-items: center;
	background: #efefef;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 20px 0;
}
#sct-premium .card-title {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#sct-premium h2 {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}
#sct-premium p {
	font-size: 16px;
	text-align: center;
	padding-bottom: 20px;
	width: 80%;
}
#sct-premium .img-row {
	align-items: center;
	display: flex;
	padding-bottom: 40px;
}
#sct-premium .payment-options {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: space-between;
}
#sct-premium .payment-options .card {
	background: #fff;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	padding: 10px 15px 5px 15px;
	width: 100%;
}
#sct-premium .payment-options .current {
	align-items: flex-start;
	background: #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}
#sct-premium .payment-options .current span {
	color: #fff;
	padding: 20px 0 10px 15px;
}
#sct-premium .payment-options .card h2 {
	align-self: flex-start;
	font-size: 24px;
	margin-top: 20px;
}
#sct-premium .payment-options .card h3 {
	font-size: 16px;
	margin-bottom: 10px;
}
hr {
	color: rgb(0, 0, 0);
	width: 100%;
}

#sct-premium .payment-options .card .fa {
	padding-right: 8px;
}
#sct-premium .payment-options .card li {
	line-height: 22px;
	margin-bottom: 10px;
}
#sct-premium .payment-options .card li:first-child {
	padding-top: 20px;
}
#sct-premium .payment-options .card button {
	align-self: center;
	background: #000;
	border-radius: 24px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 10px;
	padding: 12px 28px;
	width: 100%;
}
#sct-premium .payment-options .card span {
	color: #535353;
	font-size: 10px;
	line-height: 16px;
	margin-top: 15px;
}
#sct-premium .payment-options .card a {
	color: #535353;
}

/* end premium sct options*/
/* footer */

footer {
	background: #000;
}

footer .main-footer {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: 30px;
}

footer .main-footer .logo {
	font-size: 24px;
	font-weight: 700;
	margin: 20px 0;
	padding: 20px 0;
}
footer .main-footer .logo .fa-spotify {
	font-size: 30px;
}

footer .main-footer .list {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	padding: 3px 0 15px;
}
footer .main-footer .list li {
	line-height: 1.5;
	padding: 3px 0 15px;
}
footer .main-footer .list li:last-child {
	margin-bottom: 30px;
}
footer .main-footer .list .list-title {
	color: #919496;
	font-size: 12px;
}
footer .main-footer .socials {
	display: flex;
	justify-content: flex-start;
	font-size: 30px;
	margin-bottom: 10px;
}
footer .main-footer .socials .fa {
	margin-bottom: 30px;
	margin: 20px;
}
footer .small {
	color: #757575;
	display: flex;
	font-size: 10px;
	justify-content: space-between;
	padding-bottom: 20px;
}
footer .small ul:first-child {
	align-items: center;
	display: flex;
	justify-content: center;
}
footer .small ul:last-child {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
footer .small ul li {
	margin-right: 20px;
}
/* end footer */
@media all and (min-width: 768px) {
	#sct-blue {
		background: #1d75de;
	}
	#sct-blue .container {
		margin: 0 auto;
		width: 97%;
	}
	#sct-blue h1 {
		font-size: 40px;
	}
	#sct-blue h2 {
		font-size: 24px;
		font-weight: 900;
	}
	#sct-blue .btns {
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 325px;
	}
	#sct-blue .btns button:nth-child(1) {
		margin-right: 10px;
		margin-top: 0;
		margin-bottom: 0;
	}
	/* why scts */
	#sct-why {
		align-items: center;
		justify-content: space-evenly;
		min-height: 500px;
	}
	#sct-why .icon-row {
		flex-direction: row;
		flex-wrap: wrap;
	}
	#sct-why .icon-row .box {
		width: 50%;
		justify-content: normal;
	}
	#sct-why h2 {
		font-size: 40px;
	}
	/* why scts */
	/* footer */
	footer .main-footer {
		justify-content: space-between;
		width: 80%;
	}
	footer {
		padding-left: 10%;
	}
	footer .group-links {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 98%;
		padding-right: 20px;
	}
	footer .small {
		width: 80%;
	}
	/* end footer */
}

@media all and (min-width: 992px) {
	/* header css */
	header #nav-mobile {
		display: none;
	}

	header #nav-desktop {
		align-items: center;
		display: flex;
		min-height: 80px;
		padding: 0 15px;
		margin: 0 auto;
	}
	header #nav-desktop .group {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 60%;
	}

	header .group .fa-spotify {
		font-size: 30px;
	}
	header .group .fa-spotify:before {
		font-size: 50px;
	}
	header #nav-desktop .group a {
		color: white;
		font-weight: 700;
		text-decoration: none;
	}
	header .group img {
		scale: 0.9;
	}
	header #nav-desktop .group a .fa {
		margin-left: 10px;
	}
	/* end of header css */
	/* sct why */
	#sct-why .icon-row {
		padding-left: 20px;
	}
	/* end sct why */
	/* footer */
	footer .main-footer {
		flex-direction: row;
		justify-content: space-between;
	}
	/* end of footer */
}
@media all and (min-width: 1200px) {
	/* header css */
	#nav-desktop {
		width: 90%;
	}
	/* end of header css */
	/* sct why */
	#sct-why {
		justify-content: space-evenly;
	}

	#sct-why .icon-row {
		flex-wrap: nowrap;
		gap: 20px;
	}
	#sct-why .icon-row .box img {
		margin-bottom: 30px;
		scale: 1;
	}
	#sct-why .icon-row .box {
		flex-direction: column;
		justify-content: space-between;
	}
	#sct-why .icon-row .box h3 {
		width: 235px;
	}
	/* end of sct why */
	/* sct premium */
	#sct-premium h2 {
		font-size: 40px;
	}
	#sct-premium p {
		width: 100%;
	}
	#sct-premium .payment-options {
		flex-direction: row;
		justify-content: space-between;
	}
	#sct-premium .payment-options .card {
		min-height: 565px;
		max-width: 270px;
	}
	#sct-premium .payment-options .card ul {
		min-height: 260px;
	}
	/* end sct premium */
}
@media all and (min-width: 1400px) {
	/* header css */
	#nav-desktop {
		width: 65%;
	}
	/* end of header css */
	#sct-blue .container {
		width: 70%;
	}
	/* why sct */
	#sct-why .icon-row {
		width: 70%;
	}
	/* end why sct */
}
